@model List<StoreManagement.DTO.OrderDTO>

@{
    ViewData["Title"] = "Order Management";
}

<div class="container py-2">
    <div class="order-header d-flex justify-content-between align-items-center">
        <h1>Đơn đặt hàng</h1>
        <a href="/owner/ManagementOrder" class="btn btn-primary-custom">Tải lại</a>
    </div>
    
    @if (Model != null && Model.Any())
    {
        <div class="table--wrapper">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Mã đơn đặt hàng</th>
                        <th>Mã bàn</th>
                        <th>Ngày tạo</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th>-</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>@order.Id</td>
                            <td>@order.TableId</td>
                            <td>@order.Created.ToString("HH:mm:ss dd/MM/yyyy")</td>
                            <td>@order.TotalPrice</td>
                            <td>
                                @{
                                    if (@order.status)
                                    {
                                        <span class="badge bg-secondary ml-2">Đã tiếp nhận</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger ml-2">Chưa tiếp nhận</span>

                                    }
                                }
                                </td>
                            <td>
                                <a href="/owner/managementorder/detail/@order.Id" class="btn btn-red-custom">
                                    Xem
                                </a>
                                <a href="/owner/managementorder/accept/@order.Id" class="btn btn-primary-custom">
                                    Chấp nhận
                                </a>
                                @* <a href="/Owner/ManagementOrder/Denied/@order.Id" class="btn btn-danger">
                                    Denied
                                </a> *@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No orders found.</p>
    }
</div>


