@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<StoreManagement.DTO.FoodCategoryDTO>
@{
    ViewData["Title"] = "FoodCategory";
}
<div class="container">
    <a asp-action="Create">
        <button type="submit" class="btn btn-primary">Add</button>
    </a>|
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Name Store</th>
                <th>Actions</th>
                <!-- Add other columns as needed -->
            </tr>
        </thead>
        <tbody>
            @foreach (var foodCategory in Model)
            {
                <tr>
                    <td>@foodCategory.Id</td>
                    <td>@foodCategory.Name</td>
                    <td>@foodCategory.Store.StoreName</td>
                    <td>
                        <a asp-action="Update" asp-route-id="@foodCategory.Id">
                            <button type="submit" class="btn btn-info">Edit</button>
                        </a> |
                        <a asp-action="Delete" asp-route-id="@foodCategory.Id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
