@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "MenuDetail";
}
@model IEnumerable<StoreManagement.DTO.MenuDetailDTO>

<div class="container">
    <h3>Menu</h3>
    <a asp-controller="ManagementMenuDetail" asp-action="AddMenuItem" asp-route-menuId="@ViewBag.MenuId">
        <button type="button" class="btn btn-primary">Add Item</button>
    </a>
    <a asp-controller="ManagementMenu" asp-action="Index">
        <button type="button" class="btn btn-primary">Return Menu</button>
    </a>
    <div>
        <input type="text" placeholder="Search here..." id="txtSearch" class="form-control m-1" style="width:50%" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Picture</th>
                <th>FoodCategory</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var menuDetail in Model)
            {
                <tr class="menu-item">
                    <td><input type="checkbox" class="menu-checkbox" data-menuid="@menuDetail.MenuId" data-fooditemid="@menuDetail.FoodItemId" @(menuDetail.Status == 0 ? "checked" : "") data-status="@(menuDetail.Status)" /></td>
                    <td>@menuDetail.FoodItems.Name</td>
                    <td>@menuDetail.FoodItems.Price</td>
                    <td>@menuDetail.FoodItems.Description</td>
                    <td width="15%"><img width="100%" src="@menuDetail.FoodItems.ImageUrl" /></td>
                    <td>@(menuDetail.FoodItems.FoodCategory?.Name)</td>
                    <td>
                        <a asp-action="Delete" asp-route-menuId="@menuDetail.MenuId" asp-route-foodItemId="@menuDetail.FoodItemId">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
            }
                <td colspan="7">
                    <button type="button" class="btn btn-success save-btn">Save</button>
                </td>
        </tbody>
    </table>  
</div>
<style>
    .menu-checkbox {
        transform: scale(2); 
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Xử lý sự kiện khi nhấp vào checkbox
        var checkboxes = document.querySelectorAll('.menu-checkbox');
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                var menuId = this.dataset.menuid;
                // Lưu trạng thái mới vào thuộc tính data-status
                this.dataset.status = this.checked ? 0 : 1;
            });
        });

        // Xử lý sự kiện khi nhấp vào nút "Save"
        var saveBtn = document.querySelector('.save-btn');
        saveBtn.addEventListener('click', function () {
            // Tạo một mảng chứa các cặp menuId và status
            var updatedStatusList = [];
            checkboxes.forEach(function (checkbox) {
                updatedStatusList.push({
                    menuId: checkbox.dataset.menuid,
                    foodItemId: checkbox.dataset.fooditemid,
                    status: checkbox.dataset.status 
                });
            });
            console.log("Updated Status List:", updatedStatusList);

            fetch('/Owner/ManagementMenuDetail/UpdateMenuStatus', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(updatedStatusList)
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                alert("Lưu thành công!");
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        $('#txtSearch').keyup(function () {
            var typeValue = $(this).val();
            $('tbody tr').each(function () {
                if ($(this).text().search(new RegExp(typeValue, "i")) < 0) {
                    $(this).fadeOut();
                } else {
                    $(this).show();
                }
            })
        });
    });
</script>