@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "MenuDetail";
}
@model IEnumerable<StoreManagement.DTO.MenuDetailDTO>

<div class="container">
    <h3>Menu</h3>
    <a asp-controller="ManagementMenuDetail" asp-action="AddMenuItem" asp-route-menuId="@ViewBag.MenuId">
        <button type="button" class="btn btn-primary">Add Item</button>
    </a>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Picture</th>
                <th>FoodCategory</th>
                <th>Actions</th>
                <!-- Add other columns as needed -->
            </tr>
        </thead>
        <tbody>
            @foreach (var menuDetail in Model)
            {
                <tr class="menu-item">
                    <td><input type="checkbox" class="menu-checkbox" data-menuid="@menuDetail.Id" @(menuDetail.Status == 0 ? "checked" : "")/></td>
                    <td>@menuDetail.FoodItems.Name</td>
                    <td>@menuDetail.FoodItems.Price</td>
                    <td>@menuDetail.FoodItems.Description</td>
                    <td width="15%"><img width="100%" src="@menuDetail.FoodItems.ImageUrl" /></td>
                    <td>@(menuDetail.FoodItems.FoodCategory?.Name)</td>
                    <td>
                        <a asp-action="Delete" asp-route-menuId="@menuDetail.MenuId" asp-route-foodItemId="@menuDetail.FoodItemId">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>  
</div>
<style>
    .menu-checkbox {
        transform: scale(2); /* Điều chỉnh giá trị scale tùy theo nhu cầu */
    }
</style>

