@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<StoreManagement.DTO.MenuDetailDTO>

@{
    ViewData["Title"] = "MenuDetail";
}

<h1>Menu</h1>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Picture</th>
                <th>FoodCategory</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FoodItems.Name</td>
                    <td>@item.FoodItems.Price</td>
                    <td>@item.FoodItems.Description</td>
                    <td width="15%"><img width="100%" src="@item.FoodItems.ImageUrl" /></td>
                    <td>@(item.FoodItems.FoodCategory?.Name)</td>
                    <td>
                        <form action="/Customer/Order/AddToCart" method="post">
                            <input type="hidden" name="foodId" value="@item.FoodItemId" />
                            <input type="hidden" name="quantity" value="1" />
                            <button type="submit" class="btn btn-primary">Add To Cart</button>
                        </form>
                        <a action="/Customer/Order/AddToCart"></a>
                    </td>
                        
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No menu details available.</p>
}