@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Menu";
}
@* Menu Management

Một cái grid view hiển thị các đồ ăn, add đồ ăn vào Menu, có CRUD
-> CRUD sẽ vào các route để Add/Create/Edit/Delete
-> Các món cần ẩn/hiện ở menu người dùng *@
@model IEnumerable<StoreManagement.DTO.MenuDTO>
<div class="container">
    <a asp-action="Create">
        <button type="submit" class="btn btn-primary">Add Menu</button>
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>MenuID</th>
                <th>Name Store</th>
                <th>CreateTime</th>
                <th>Actions</th>
                <!-- Add other columns as needed -->
            </tr>
        </thead>
        <tbody>
            @foreach (var menu in Model)
            {
                <tr>
                    <td>@menu.Id</td>
                    <td>@menu.Store.StoreName</td>
                    <td>@menu.CreateTime</td>
                    <td>
                        <a asp-action="Update" asp-route-id="@menu.Id">
                            <button type="submit" class="btn btn-info">Edit</button>
                        </a> |
                        <a href="@Url.Action("AddMenuItem", "ManagementMenuDetail", new { menuId = menu.Id })">
                            <button type="button" class="btn btn-primary">Add Item</button>
                        </a>|
                        <a asp-controller="ManagementMenuDetail" asp-action="GetMenuItem" asp-route-menuId="@menu.Id">
                            <button type="submit" class="btn btn-success">Detail</button>
                        </a>|
                        <a asp-action="Delete" asp-route-id="@menu.Id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
